section{
    display: flex;
    background-color: #636ac2;
}
h2{
    color: #FFD777;
    font-size: 75px;
}
p{
    color: #FFFFFF;
    font-size: 23px;
    text-align: left;
}
.div1{
    width: 40%;
}
.div2{
    float: left;
}
aside{
    flex-direction: column;
    background-color: #FFFFFF;
}
h3{
    color: #727e89;
    text-align: center;
}
.p{
    color: #939393;
    font-size:16px;
    width:75%;
}
.parrafo{
    width:50%;
}
.contenido{
    display:flex;
}
.div-img{
    width: 45%;
}
li{
    color: #939393;
}